<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="container">
      <div id="banner">
        <h1 class="header">Think fast, type faster!</h1>
      </div>
      <div id="infoContainer">
        <p v-if="gameStoped && startCounter == false">Hi <%=testObject%>! Your highest score: {{highestScore}}</p>
        <p v-if="gameStoped && startCounter == false">In order to start the game click button bellow.</p>
        <button v-on:click="startGame()"v-if="gameStoped && startCounter==false">Start game</button>
        <p v-if="startCounter">Get ready. Game is about to start! {{ counter }}</p>
        <p v-if="startCounter || gameStoped == false">Type given text as fast as you can. Good luck!</p>
        <p v-if="gameStoped==false">Time: {{ gameCounter }}s  WPM: {{ wpm }}</p>
        <p v-if="gameStoped==false">"{{ text[1] }}"</p>
        <textarea v-if="gameStoped==false"placeholder="Type here"id="inputField"></textarea>
      </div>
      <div id="footer">
        <h1 class="footer">&copy; Copyright 2021</h1>
      </div>
    </div>
    <script>
      // declare first Vue appp
      var app = new Vue({
        el: "#container",
        data: {
          text: JSON,
          gameStoped: true,
          counter: 5,
          startCounter: false,
          gameCounter: 0,
          wpm: 0,
          highestScore: 0,
        },
        methods: {
          async getText() {
            await fetch("/text", {
              method: "GET",
              mode: "cors",
            })
              .then((res) => (data = res.json()))
              .then((data) => (this.text = data.text))
              .catch((err) => console.log(err.message));
          },
          postScore(score){
            fetch("/score/save",{
              method: "POST",
              mode: "cors",
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                "name": "<%=testObject%>",
                "score": score
              })
            })
          },
          async getHighestScore(){
            await fetch("/score/highest",{
              method: "POST",
              mode: "cors",
              headers: {
                'Content-type': 'application/json'
              },
              body: JSON.stringify({
                "name": "<%=testObject%>"
              })
            })
            .then((res) => (data = res.json()))
            .then((data) => (this.highestScore = data))
            .catch((err) => console.log(err.message));
          },
          intervalCounter() {
            let n = 0;
            let interval = setInterval(function () {
              if (n == 4) {
                clearInterval(interval);
                app.getText();
                app.gameStoped = false;
                app.startCounter = false;
                app.gameCounterFunction();
                app.validateInput();
              }
              n++;
              app.counter = app.counter - 1;
            }, 1000);
          },
          startGame() {
            app.startCounter = true;
            app.intervalCounter();
          },
          validateInput(text) {
            let i = 0;
            let interval = setInterval(function () {
              i++;
              let inputField = document.getElementById("inputField").value;
              let index = inputField.length;
              let originalText = app.text[1].slice(0, index);
              let originalLength = app.text[1].length;
              if (index < originalLength) {
                if (inputField == originalText) {
                  app.wpm = index / 5 / (app.gameCounter / 60);
                  document.getElementById("inputField").style = "color: green";
                } else {
                  document.getElementById("inputField").style = "color: red";
                }
              } else {
                clearInterval(interval);
                alert(
                  "Well done! Your time: " +
                    app.gameCounter +
                    "seconds. Your score: " +
                    Math.round((index / 5) / (app.gameCounter / 60)) +
                    "WPM"
                );
                app.postScore(Math.round((index / 5) / (app.gameCounter / 60)))
                setTimeout(() => {app.getHighestScore()}, 200);
                app.gameStoped = true;
                app.counter = 5;
              }
            }, 500);
          },
          gameCounterFunction() {
            app.gameCounter = 0;
            let interval = setInterval(function () {
              if (app.gameStoped) {
                clearInterval(interval);
              } else {
                app.gameCounter = app.gameCounter + 1;
              }
            }, 1000);
          },
        },
      });
      app.getHighestScore()
    </script>
  </body>
</html>
