<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <div id="container">
      <div id="banner">
        <h1 class="header">Think fast, type faster!</h1>
      </div>
      <div id="login">
        <form @submit.prevent="login" id="loginForm">
          login<br />
          <input type="text" id="loginName"  required /><br />
          password <br />
          <input type="password"  id="loginPassword"/><br />
          <button type="submit">sign in</button>
        </form>
      </div>
      <div id="register">
        <form @submit.prevent="addUser" id="registerForm">
          login<br />
          <input type="text" vmodel="name" id="nameData" required /><br />
          password<br />
          <input type="password" v-model="password" id="passwordData"required/><br />
          <button type="submit">
            register
          </button>
        </form>
      </div>
      <div id="infoContainer">
        <p1 class="text">
          Touch typing is all about the idea that each finger has its own area
          on the keyboard. Thanks to that fact you can type without looking at
          the keys. Practice regularly and your fingers will learn their
          location on the keyboard through muscle memory. </p1
        ><br /><br />
        <br><br><br>
        <br>
        <br>
        <br />
        <p2>
          Your left-hand fingers should be placed over the A, S, D, and F keys,
          and the right-hand fingers should be placed over the J, K, L, and ;
          keys. These keys are considered the home row keys. Your thumbs should
          either be in the air or very lightly touching the spacebar key.
        </p2>
      </div>
      <div id="footer">
        <h1 class="footer">&copy; Copyright 2021</h1>
      </div>
    </div>
    <script>
      var appLogin = new Vue({
        el: "#loginForm",
        data: {
          name: "",
          password: "",
        },
        methods:{
          async login(){
            await fetch("/auth/login",{
              method: "POST",
              mode: "cors",
              headers: {
                'Content-type': 'application/json'
              },
              body: JSON.stringify({
              name: document.getElementById("loginName").value,
              password: document.getElementById("loginPassword").value
            })
            })     
            .then(res => res.text())
            .then(res => {
              if(res =="1"){
                var form = $('<form></form>');

                form.attr("method", "post");
                form.attr("action", "/game");

                  var field = $('<input></input>');
                  field.attr("type", "hidden");
                  field.attr("name", "name");
                  field.attr("value", document.getElementById("loginName").value);
                  form.append(field);
                  $(document.body).append(form);
                  form.submit();

              }else{
                alert(res)
              }
            })
          }
        }
      })
      var app = new Vue({
        el: "#registerForm",
        data: {
          password: "",
          name: "d",
        },
        methods: {
          validate() {
            console.log("validate")
            // let strongPassword = new RegExp(
            //   "(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})"
            // )
            // if (!strongPassword.test(this.password)) {
            //   alert('Your password has to be strong!')
            // }          
          },
          async addUser(e){
             await fetch("/auth/register",{
              method: "POST",
              mode: "cors",
              headers: {
                'Content-type': 'application/json'
              },
              body: JSON.stringify({
              name: document.getElementById("nameData").value,
              password: document.getElementById("passwordData").value
            })
            })     
            .then(res => res.text())
            .then(res => alert(res));
          },
        },
      });
    </script>
  </body>
</html>
