@font-face {
    font-family: Bebas Neue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat-Light.ttf)
}

body{
    color: black;
    margin: 20px;
   
}

:root {
    --text-font: Bebas Neue;
    --text-font2: Montserrat;
}

.f1{
    font-family: var(--text-font)
}



#container {
    /* width: 770px !important; */
    width: 1000px !important;
    height: auto;
    margin: auto;
    border-style: solid;
    border-color: #580158;
    border-radius: 12px;
    box-shadow: inset 0px 0px 4px 4px #660066ee;
    background-color: #800080ee;
    
}

#banner {
    height: 100px;
    background-color: #6b016b;
    box-shadow: inset 0px 0px 4px 4px #660066ee;
    opacity: 0.8;
    padding-top: 20px;

}


#infoContainer {
    height: auto;
    min-height: 400px;
    clear: both;
    border-top-style: solid;
    border-top-color: #660066ee;
    box-shadow: inset 0px 0px 4px 4px #660066ee;
    font-family: var(--text-font2);
    font-size: 22px;
    font-weight: bold;
}


#navBar{
    min-height:600px;
    width: 20%;
    display: grid;
    vertical-align: top; 
    align-items: center;
    justify-content: center; 
    float: left;
    box-shadow: inset 0px 0px 4px 4px #660066ee;
}

#main{
    text-align: center;
    /* background: url(../img/logo.png) no-repeat center center; */
    width: 80%;
    height:600px;
    display: inline-block;
    padding: 15px;

}

.progress-bar {
    background-color:#8600b3;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: var(--text-font);
    font-size: 20px;
  }

#footer {
    height: auto;
    width: auto;
    background-color: #6b016b;
    opacity: 0.8;
    box-shadow: inset 0px 0px 4px 4px #660066ee;
    text-align: center;
    padding: auto;
}

img {
    
    height: 100px;
    width: 100px;
    border-color: #580158;
    border-radius: 20px;
    /* transition: 500ms linear; */
}

img:hover{
    border-style:solid;
}

.form {
    width: 300px;
    margin: auto;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    border: 1px solid #660066ee;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6b016b;
}
*:focus {
    outline: none;
}
button {
    font-family: var(--text-font);
    font-size: 25px;
    font-weight: lighter;
    width: 250px;
    height: 45px;
    display: block;
    margin: 4px auto;
    text-align: center;
    border: 1px solid #660066ee;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6b016b;
}

button:hover {
    border: 2px solid #5a015aee;
  }


  .progress{
      background-color: #660066ee;
  }

.header {
    font-family: var(--text-font);
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.footer {
    font-family: var(--text-font);
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

textarea{
   min-width: 100%;
   height: 35px;
   font-size: 19px;
   background-color: #fcd9fcee;
   border: 1px solid #5a015aee;
   border-radius: 7px;
   font-family: var(--text-font2);
   font-weight: bold;

    
}
