@font-face {
    font-family: Bebas Neue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat-Light.ttf)
}

body{
    color: black;
    margin: 20px;
    background-color: #B36ED8;

}

:root {
    --text-font: Bebas Neue;
    --text-font2: Montserrat;
}

.f1{
    font-family: var(--text-font)
}

.progress-bar {
    background-color:#8600b3;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: var(--text-font);
    font-size: 20px;
  }

#container {
    width: 770px !important;
    height: auto;
    margin: auto;
    border-style: solid;
    border-color: #9A3ECC;
    border-radius: 12px;
    box-shadow: inset 0px 0px 4px 4px #9A3ECC;
    background-color: #9A3ECC;
    
}

#banner {
    height: 100px;
    background-color: #9033C1;
    box-shadow: inset 0px 0px 4px 4px #9A3ECC;
    opacity: 0.8;
    padding-top: 20px;

}

#login, #register {
    font-family: var(--text-font);
    font-size: 19px;
    height: auto;
    width: 280px;
    padding: 0px 50px 10px;
    display: inline-block;
 
}


#infoContainer {
    margin-top: 5px;
    height: auto;
    min-height: 400px;
    clear: both;
    border-top-style: solid;
    border-top-color: #9A3ECC;
    box-shadow: inset 0px 0px 4px 4px #9A3ECC;
    font-family: var(--text-font2);
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    background: url(../img/logo.png) no-repeat center center;

}


#infoContainer2{
    height: auto;
    min-height: 400px;
    clear: both;
    border-top-style: solid;
    border-top-color: #9A3ECC;
    box-shadow: inset 0px 0px 4px 4px #9A3ECC;
    font-family: var(--text-font2);
    font-size: 22px;
    font-weight: bold;
}

#navBar{
    min-height:400px;
    width: 20%;
    display: grid;
    vertical-align: top; 
    align-items: center;
    justify-content: center; 

    float: left;
    box-shadow: inset 0px 0px 4px 4px #9A3ECC;
}

#main{
    text-align: center;
    /* background: url(../img/logo.png) no-repeat center center; */
    width: 80%;
    height:400px;
    display: inline-block;
    padding-top: 15px;

}

#footer {
    height: auto;
    width: auto;
    background-color: #9033C1;
    opacity: 0.8;
    box-shadow: inset 0px 0px 4px 4px #9A3ECC;
    text-align: center;
    padding: auto;
}

img {
    height: 100px;
    width: 100px;
}

.form {
    width: 300px;
    margin: auto;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #9033C1;
    background-color: #9A3ECC;
}
*:focus {
    outline: none;
}
/* button {
    font-family: var(--text-font);
    font-size: 15px;
    width: 250px;
    height: 25px;
    display: block;
    margin: 4px auto;
    text-align: center;
    border: 1px solid #9033C1;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #9A3ECC;
}

button:hover {
    border: 2px solid #6C2791;
  } */
  
  button {
    font-family: var(--text-font);
    font-size: 25px;
    font-weight: lighter;
    width: 250px;
    height: 45px;
    display: block;
    margin: 4px auto;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    border: 5px solid #9033C1;
    background-color: #9A3ECC; 
    transition: 0.3s;
}

button:hover {
    transform: translateX(0.15em);
    border: 5px solid #6C2791;
  }


  
.header {
    font-family: var(--text-font);
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.footer {
    font-family: var(--text-font);
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

textarea{
   min-width: 100%;
   min-height: 25px;
   font-size: 19px;
    
}
